{% extends 'base.html' %}
{% load static %}
{% block title %} Dashboard with Django and ChartJS {% endblock title %}


{% block content %}

<div class="container">
    <div class="row d-flex justify-content-center">

        <div class="col-5 mt-3">
            <div class="shadow  card rounded">
                <div class="card-body">
                    <div class="input-group mb-1">
                        <input class="form-control" type="text" id="get_id" value="1">
        
                        <div class="input-group-append">
                            <button id="btn-get-data" class="btn btn-primary">Buscar</button>
                        </div>
                    </div>
                    
                    <canvas id="myChart" width="300" height="150" class="chartjs-render-monitor"></canvas>
                </div>
            </div>
        </div>
            
        <div id="" class="col-5 mt-3">
            <div class="shadow card rounded">
                <div class="card-body">
                    <div class="input-group mb-1">
                        <select name="select-localidad" class="form-control" id="get_localidad">
                            {% for localidad in localidades %}
                                <option value="{{localidad|slugify}}" {% if localidad == 'Suba' %} selected {%endif%}>{{localidad}}</option> 
                            {% endfor %}
                        </select>
                    </div>
                    
                    <canvas id="chartLocalidad" width="300" height="150" class="chartjs-render-monitor"></canvas>
                </div>
            </div>
        </div>

        <div class="col-3 mt-3">
            <button class="bt btn-primary" onclick= "open_modal_creation('{% url 'core:cp' %}')">Nuevo proyecto</button>
        </div>

        <div class="modal fade" id="creation" role="dialog">

        </div>

    </div>

</div>

{% endblock content %}  

<!-- Scripts -->
{% block scripts %}
<script src="{% static 'js/index.js' %}"></script>
<script type="text/javascript">
    var $ = jQuery.noConflict()
    function open_modal_creation(url){
        $('#creation').load(url, function(){$(this).modal('show')})
    }

</script>
{% endblock scripts %}
